/* Variables */
html {
  --grey: #e7e7e7;
  --gray: var(--grey);
  --blue: #0072b9;
  --pink: #d60087;
  --yellow: #ffc600;
  --black: #2e2e2e;
  --red: #c73737;
  --green: #61e846;
  --text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  --box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  background-color: var(--blue);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 21.184c.13.357.264.72.402 1.088l.661 1.768C4.653 33.64 6 39.647 6 50c0 10.271-1.222 15.362-4.928 24.629-.383.955-.74 1.869-1.072 2.75v6.225c.73-2.51 1.691-5.139 2.928-8.233C6.722 65.888 8 60.562 8 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C1.352 19.098.601 16.913 0 14.85v6.335zm20 0C17.108 13.258 16 8.077 16 0h2c0 5.744.574 9.951 2 14.85v6.334zm0 56.195c-2.966 7.86-4 13.123-4 22.621h2c0-6.842.542-11.386 2-16.396v-6.225zM6 0c0 8.44 1.21 13.718 4.402 22.272l.661 1.768C14.653 33.64 16 39.647 16 50c0 10.271-1.222 15.362-4.928 24.629C7.278 84.112 6 89.438 6 100h2c0-10.271 1.222-15.362 4.928-24.629C16.722 65.888 18 60.562 18 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C9.16 13.223 8 8.163 8 0H6z' fill='%23fff' fill-rule='nonzero' fill-opacity='.1' opacity='.349'/%3E%3C/svg%3E%0A");
  background-size: 15px;
}

.next,
.prev {
  background-color: #d60087;
  color: #e7e7e7;
  font-weight: bolder;
  border: none;
}

.slides {
  width: 800px;
  height: 500px;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  background: var(--pink);
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 100px;
  font-family: sans-serif;
  border: 5px solid white;
  transition: all 0.25s;
  transform: translateX(-200%);
}

.slide.next + .slide {
  transform: translateX(200%);
}

.slide.prev {
  z-index: 10;
  transform: translateX(-100%);
}
.slide.current {
  z-index: 10;
  transform: translateX(0);
}
.slide.next {
  z-index: 10;
  transform: translateX(100%);
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.galleries {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  background: white;
  padding: 2rem;
}

.gallery img {
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.modalInner {
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-100vh);
  transition: all 0.5s;
  max-width: 1000px;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  color: black;
  margin: 3rem;
}

.modal figure {
  height: 100%;
  display: grid;
  margin: 0;
  grid-template-rows: 1fr auto;
}

.modal img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal figcaption {
  padding: 10px;
}

.modal h2 {
  color: black;
}

.modal.open .modalInner {
  transform: translateY(0);
}
